 

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.user-card {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 30px;
  background: #fff;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  margin: 0;
}

.logout {
  font-size: 24px;
  cursor: pointer;
  padding: 8px;
  transition: transform 0.2s;
}

.logout:hover {
  transform: scale(1.2);
}

.subtitle {
  margin: 10px 0 20px;
  font-weight: bold;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.apply-btn {
  background-color: #2a78d3;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.apply-btn:hover {
  background-color: #1f5ca9;
}
.estrellas {
  display: flex;
  justify-content: center;
  gap: 8px;
  font-size: 2rem;
  cursor: pointer;
  color: #ccc;
  margin-top: 0.5rem;
}


.estrella.seleccionada {
  color: gold;
}

.estrella:hover,
.estrella:hover ~ .estrella {
  color: #ccc !important;
}

.estrella:hover {
  color: orange !important;
}
